PORT=5000

# Connect to Supabase via connection pooling
DATABASE_URL=""

# Direct connection to the database. Used for migrations
DIRECT_URL=""

SUPER_ADMIN_PASSWORD=""
BCRYPT_SALT_ROUNDS=""

JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""
JWT_ACCESS_EXPIRES_IN=""
JWT_REFRESH_EXPIRES_IN=""

JWT_RESET_PASS_SECRET= ""
JWT_RESET_PASS_EXPIRES_IN= ""
JWT_STORE_ADDRESS_EXPIRES_IN= ""

OTP_ACCESS_EXPIRES_IN= ""

# EMAIL_PASSWORD=""
# EMAIL=
CONTACT_MAIL_ADDRESS= ""

# SMTP
EMAIL_PASSWORD=""
EMAIL=
CONTACT_MAIL_ADDRESS= ""

# TIMM
S3_ACCESS_KEY=""
S3_SECRET_KEY=""
S3_REGION="us-east-1"
S3_BUCKET_NAME=""
S3_ENDPOINT="https://s3.us-east-1.amazonaws.com"

# Stripe
STRIPE_SECRET_KEY=""
STRIPE_PUBLIC_KEY=""
STRIPE_WEBHOOK_SECRET=""

MOLLIE_API_KEY=
MOLLIE_WEBHOOK_SECRET=

# BASE_URL
BASE_URL=https://2508-202-83-126-188.ngrok-free.app/api/v1

# Frontend redirect URLs
FRONTEND_SUCCESS_URL=https://yourfrontend.com/payment/success
FRONTEND_CANCEL_URL=https://yourfrontend.com/payment/cancel
